@font-face {
    font-family: "Usual";  
    src: url(font/openregular.woff2);
    /* Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; */
}
@font-face {
    font-family: "a";
    src: url(font/openbold.woff2);
}
@font-face {
    font-family: "b";
    src: url(font/opensemibold.woff2);
}
@font-face {
    font-family: "c";
    src: url(font/poppinsbold.woff2);
}
@font-face {
    font-family: "rare";
    src: url(font/poppinsmedium.woff2);
}
body{
    padding: 0;
    margin: 0;
    font-family: "Usual";
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    display: block;
    height: 109.97px;
    background-color: #D32323;
}
.headersec1{
    width: 100%;
    height: 43.97px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
}
.headersec2{
    width: 100%;
    height: 66px;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.app{
    background-color: #BC1D25;
    border: 1px solid  #91151C;
    width: 100.06px;
    height: 32px;
    justify-self: start;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 9px;
    display: flex;
    gap: 2px;
}
.logo{
    width: 51.95px;
    height: 25.97px;
    background: url(img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    margin-right: 4px;
}
.menu{
    width: 30px;
    height: 30px;
    justify-self: end;
    align-content: center;
    justify-content: center;
    display: grid;
    margin-right: 15px;
    margin-bottom: -2px
}
.menu img{
    width: 23px;
    height: 24px;
}
.searchbar{
    height: 48px;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    margin-left:10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
}
.mobiledef p{
    color: white;
    font-size: 12px;
    margin-top: 8px;
    font-weight: 500;
    margin-left: -1px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.mobilelogo img{
    margin-top: 7px;
    margin-left: 6px;
}
.searchicon img{ 
    margin-left: 18px;
    margin-top: 15px;
}
.searchdescription p{
    margin-top: 12px;
    margin-left: 16px;
    color: rgb(102, 100, 100);
}
section{
    margin-top: 115px;
    padding: 0px 10px;
}
.services{
    min-width: 280px;
    height: 192px;
    background: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    padding-left: px;
}
.serviceitem{
    padding: 0px 0px;
    width: 100%;
}
.serviceitem img{
    margin-top: 13px;
    margin-bottom: 2px;
    height: 36px;
    width: auto;
}
.serviceitem p{
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: px;
    color: #333;
    margin-bottom: 0;
    margin-top: -1px;
    width: inherit;
    word-wrap: break-word;
    line-height: 18px;
    text-align: center;

}
main{
    margin-top: 41px;
    padding: 0 12px;
}
.servnprof{
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #333;
}
.servnprofgrid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-column-gap: 12px;
    height: 146px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -1px;
}
::-webkit-scrollbar{
    display: none;
}
.servnprofgriditem{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.servnprofgriditem img{
    border-radius: 3px;
}
.servnprofgriditem p{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 6px;
    line-height: 18px;
}
.leftarrow{
    position: absolute;
    margin-top: -89px;
    margin-left: 12px;
    border: solid none;
    background: rgba(255, 255, 255, 0.329);
    height: 31px;
    width: 31px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-items: center;
    opacity: 0.8;
}
.rightarrow{
    position: absolute;
    margin-top: -89px;
    margin-left: auto;
    right: 24px;
    border: solid none;
    background: rgba(255, 255, 255, 0.733);
    height: 31px;
    width: 31px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-items: center;
}
.yelpapp{
    width: 100%;
    height: 48px;
    background: #333;
    color: white;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
    font-family: "rare";
    border-radius: 4px;
    letter-spacing: -0.2px;
}
.yelpapp p{
    margin-bottom: 17px;
}
.business{
    font-size: 21px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-top: 25px;
    color: #333;
    margin-bottom: 0px;
}
.business p{
    margin-bottom: 0px;
}
.nearbybusiness{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 7px;
}
.nearby1, .nearby2, .nearby3{
    height: 84px;
    border-top: 1px solid #e9e1e1;
    position: relative;
    width: 100%;
    margin: 0px;
    display: flex;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.nearby3{
    border-bottom: 1px solid #e9e1e1;
}
.businessimg{
    margin: 12px;
    width: 60px;
    height: 60px;
}
.businessimg img{
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.detail{
    display: flex;
    flex-direction: column;
}
.detail p{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.detail .ratingnreview{
    height: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: -9px;
}
.ratingnreview p{
    font-size: 12px;
    font-weight: 100;
    color: gray;
}
.detail a{
    text-decoration: none;
    font-size: 12px;
    color: #333;
}
.firstrating{
    background: url(img/fivestar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 82px;
    height: 14px;
}
.secondrating{
    background: url(img/fourstar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 82px;
    height: 14px;
}
.thirdrating{
    background: url(img/fivestar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 82px;
    height: 14px;
}
#itemname{
    margin-top: 12px;
}
#domain{
    margin-top: 5px;
}
.viewmore{
    height: 35px;
    width: calc(100%-2px);
    border: 1px solid rgb(196, 195, 195);
    margin-top: 275px;
    border-radius: 3px;
    text-align: center;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.viewmore p{
    margin-top: 8px;
}
.bestrestaurants{
    margin-top: 83px;
    width: 100%;
    text-align: center;
}
.bestrestaurants p{
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 8px;
}
#restauranthead{
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #333;
    margin-bottom: 18px;
    margin-top: 0px;
}
#restauranttail{
    margin-bottom: 32px;
}
footer{
    background: rgba(247, 247, 247, 1);
    width: calc(100%-48px);
    padding: 48px 24px;
    padding-bottom: 35px;    
}
.langncity p{
    margin-top: 0;
    font-weight: 700;
    color: rgba(45, 46, 47, 1);
    font-family: "a";
    margin-bottom: 7px;
}
.langncity a{
    font-size: 14px;
    color: rgba(110, 112, 114, 1);
    margin-top: 0;
}
.langncity a img{
    vertical-align: middle;
    margin-left: 4px;
}
#secondlangcity{
    margin-top: 17px;
}
.footerlist{
    margin-top: 32px;
    display: flex;
    margin-left: 0;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}  
.footerlist li{
    color: rgba( 2, 122, 151, 1);
    font-size: 14px;
}
#dot::after{
    content: '• ';
    size: 0.5px;
    color: black;
    padding: 0 7.5px;
}
#addbusiness{
    font-size: 14px;
    color: rgba( 2, 122, 151, 1);
    margin-top: 26px;
}
#copyright{
    font-size: 12px;
    font-weight: 400;
    color: rgba(110, 112, 114, 1);
    margin-top: 27px;
    line-height: 13px;
}
#smallimg{
    width: 15px;
    height: 17px;
}
#smallimg, #bigimg{
    vertical-align: middle;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.aboutgrid, .discovergrid, .yelpgrid{
    display: flex;
    flex-direction: column;
}
.grid a{
    margin-top: 8px;
    line-height: 20px;
}
.grid p{
    line-height: 24px;
}
.aboutgrid{
    margin-left: 0;
    margin-right: 10px;
}
.discovergrid{
    margin: 0 9px;
}
.yelpgrid{
    margin:0 10px;
}
.langgrid{
    margin-left: 20px;
}
.deskheader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0006, #0000001a 55%);;
}
.headerheader{
    background: linear-gradient(180deg, #000000b3, #0000004d 72.92%, #0000);
    width: 100%;
    height: 154px;
    position: absolute;
}
.firstline{
    margin-left: 40px;
    margin-right: 25px;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

.mainlogo{
    width: 112px;
    height: 44px;
}
.sublogo{
    margin-right: 30px;
    margin-top: 4px;
}
.mainlogo img{
    margin-top: 2px;
    margin-bottom: 0px;
}
.aftermainlogo{
    display: flex;
    justify-content: center;
}
.smallsearchbar{
    width: 339px;
    display: flex;
    background: white;
    height: 48px;
    border-radius: 4px;
    flex: 1;
}
.firstsearchelem{
    flex: 1;
    height: 48px;
    background-color: white;
    border-radius: 4px;
    color: gray;
    text-wrap: nowrap;
    overflow: hidden;
    padding-left: 16px;
    margin-right: 30px;
    align-content: center;
    width: 141px;
}
.secondsearchelem{
    flex: 1;
    height: 48px;
    background-color: white;
    text-wrap: nowrap;
    overflow: hidden;
    padding-left: 16px;
    margin-right: 30px;
    color: #333;
    align-content: center;
    width: 141px;
}
.thirdsearchelem{
    width: 56px;
    
    height: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(224, 7, 7, 1);
    text-align: center;
    justify-content: flex-end;
}
.thirdsearchelem img{
    margin-top: 13px;
}
.splitline{
    width: 2px;
    flex: 0 0 2px;
    height: 24px;
    background-color: rgba(235, 227, 227, 0.829);
    margin-top: 15px;
}
.newyelpforbusiness{
    margin-left: 32px;
    width: 135.36px;
    height: 48px;
    text-wrap: nowrap;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    font-family: "b";
    margin-top: -1px;
}
#smallarroww{
    vertical-align: middle;
}
.newreview{
    margin-left: 32px;
    width: 100.06px;
    height: 48px;
    text-wrap: nowrap;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    font-family: "b";
    margin-top: -1px;
}
.newlogin{
    width: 77.73px;
    height: 40px ;
    border: 2px solid rgba(255, 255, 255, 0.76);
    margin-left: 24px;
    margin-top: 2px;
    border-radius: 4px;
    align-content: center;
}
.newlogin p{
    width: 50px;
    line-height: 25px;
    margin: 0;
    margin-left: 16px;
    font-family: "rare";
    color: white;
    word-spacing: -1px;
}
.newsign{
    width: 91.78px;
    height: 44px;
    margin: 0;
    margin-left: 12px;
    background-color: rgba(224, 7, 7, 1);
    border-radius: 4px;
    margin-top: 2px;
}
.newsign p{
    font-family: "rare";
    color: white;
    text-align: center;
    margin-top: 10px;
    word-spacing: -1px;
}
.afteraftermainlogo{
    display: flex;
}
.secondline{
    display: flex;
    margin-left: 140px;
    color: white;
    font-size: 14px;
    gap: 30px;
}
.headhome{
    margin-top: 195px;
    margin-left: 22px;
    display: flex;
    gap: 15px;
    color: white;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.lines{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 44px;
    align-items: center;
}
.line{
    width: 10px;
    height: 64.5px;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 5px;
}
.line1{
    background-color: rgb(255, 255, 255);
}
.round{
    width: 44px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.words{
    width: 480px;
    margin-top: 7px;
}
.firstword{
    margin-top: 0px;
}
.firstword h1{
    margin-top: 0px;
    margin-bottom: 22px;
    font-size: 48px;
    width: 480px;
    line-height: 57px;
    font-family: "c";
}
.secondword{
    display: flex;
    width: 264.69px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(224, 7, 7, 1);
    height: 48px;
    border-radius: 3px;
    font-family: "rare";
    font-weight: 100;
}
.secondword img{
    vertical-align: middle;
}
.ratinghead{
    width: 100%;
    height: 80px;
    margin-top: -80px;
    display: grid;
    font-size: 28px;
    font-family: "c";
    font-weight: 700;
    color: #333;
    place-content: center;
    letter-spacing: -0.5px;
}
.ratinggrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 24px;   
}
.itemgrid{
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    min-height: 400px;
    max-height: 500px;
    box-sizing: border-box;
}
.profileview{
    padding:16px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.profileviewin{
    margin: 0;
    gap: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.miniprofile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}
.minidetail{
    flex-grow: 1;
}
.minidetail p{
    font-size: 14px;
    font-family: "Usual";
    font-weight: 600;
    color: rgb(45,46,47,);
    line-height: 20px;
    margin: 0;
}
.minidetail a{
    font-size: 12px;
    font-weight: 400;
    font-family: "Usual";
    line-height: 16px;
    color: rgb(110,112,114);
    text-decoration: none;
    margin: 0;
}
@media (min-width: 321px){
    .logo{
        margin-right: 0px;
    }
}
@media (min-width: 323px){
    .services{
        height: 170px;
    }
}
@media (min-width: 376px){
    .services{
        height: 156px;
    }
    
}
@media (max-width: 479px){
    .viewmore{
        height: 42px;
        font-weight: 100;
    }
    .viewmore p{
        margin-top: 12px;
    }
}
@media (min-width: 480px){
    .app{
        height: 30px;
    }
    .mobilelogo{
        margin-top: -1px;
    }
    .mobiledef{
        margin-top: -2px;
    }
    .servnprofgriditem p{
        font-size: 12px;
    }
    #restauranthead{
        font-size: 12px;

    }
    .bestrestaurants{
       margin-top: 88px;
    }
}
@media (max-width: 600px){
    .grid{
        display: none;
    }
    .langncityhide{
        display: block;
    }
}
@media (min-width: 601px){
    .langncityhide{
        display: none;
    }
    .footerlist{
        display: none;
    }
    #copyright{
        margin-top: 50px;
        margin-bottom: 0;
    }
    footer{
        padding: 60px 32px;
    }
    #addbusiness{
        margin-top: 60px;
    }
}
@media (min-width: 750px){
    .searchicon{
        display: none;
    }
}
@media (max-width: 1023px){
    .deskheader{
        display: none;
    }
    .deskrating{
        display: none;
    }
}
@media (min-width: 1024px){
    .mainlogo{
        display: none;
    }
    #addbusiness{
        display: none;
    }
    #copyright{
        margin-top: 58px;
        margin-bottom: -2px;
    }
    header{
        position: relative;
        width: 100%;
        height: 738px;
        background: url(img/opendoor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        top: 0;
    }
    .headersec1{
        display: none;
    }
    .headersec2{
        display: none;
    }
    .services{
        display: none;
    }
    section{
        padding: 0 32px;
    }
}
@media (min-width: 1043px){
    .mainlogo{
        display: none;
    }
    .firstline{
        margin-right: 40px;
    }
}
@media (min-width: 1220px){
    .mainlogo{
        display: none;
    }
    .grid{
        width: 1154px;
        margin: 0 auto;
    }
    #copyright{
        width: 1156px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1224px){
    .headhome{
        justify-content: center;
        margin-right: 650px;
    }
}
@media (min-width:1392px){
    .mainlogo{
        display: none;
    }
    .firstsearchelem{
        margin-right: 0px;
    }
    .secondsearchelem{
        margin-right: 0px;
    }
}
@media(max-width:1462px){
    
}

@media(min-width:1463px){
    .mainlogo{
        display: block;
    }
    .sublogo{
        display: none;
    }
    .firstline{
        display: flex;
    }
    .aftermainlogo{
        margin-left: 0px;
    }
    .smallsearchbar{
        flex: 1;
        width: 728px;

    }
    .afteraftermainlogo{
        justify-content: flex-start;
    }
    .secondline{
        justify-content: end;
        margin-right: 750px;
    }
    .headhome{
        justify-content: flex-end;
        margin-right: 725px;
    }
}
@media(min-width:1931px){
    .smallsearchbar{
        flex: 0;
        width: 962.56px;
        justify-content: flex-start;
        margin-left: 200px;
    }
    .firstsearchelem{
        width:456px;
    }
    .secondsearchelem{
        width: 456px;
    }
    .aftermainlogo{
        margin-top: -45px;
        justify-content: flex-end;
    }
    .afteraftermainlogo{
        justify-content: flex-end;
    }
    .spacespacer{
        height: 1px;
        min-width: 0px;
        flex: 1;
    }
    .spacespacer1{
        height: 1px;
        min-width: 40px;
        flex: 1;
    }
    .firstline{
        display: block;
    }
    .secondline{
        justify-content: center;
        margin-right: 900px;
    }
    .headhome{
        justify-content: center;

    }
}
